.git/
.github/

**/.venv/
**/venv/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/*.egg-info/
**/dist/
**/build/

**/.coverage
**/coverage.xml
**/htmlcov/

**/node_modules/

docs/
_local_docs/
*.html
*.code-workspace
*.env
mkdocs.yaml
