          <details
            class="card sec __FIGURE_CLASS__"
            data-rule="__RULE_CODE__"
            open
          >
            <summary class="sec-sum">
              <span class="sec-chev">›</span>
              <h2>__FIGURE_TITLE__</h2>
            </summary>
            <div class="sec-body">
              <div class="figrows">
                <div
                  class="figrow"
                  data-unique-attr-data-status="__FIG_PREFIX__1_status"
                >
                  <span
                    class="figrow-l"
                    data-unique-field="__FIG_PREFIX__1_label"
                  ></span>
                  <span
                    class="figrow-v"
                    data-unique-field="__FIG_PREFIX__1_value"
                  ></span>
                  <span class="figbar"
                    ><span
                      class="figbar-fill"
                      data-unique-attr-style="width:{__FIG_PREFIX__1_pct}%"
                    ></span
                  ></span>
                </div>
                <div
                  class="figrow"
                  data-unique-attr-data-status="__FIG_PREFIX__2_status"
                >
                  <span
                    class="figrow-l"
                    data-unique-field="__FIG_PREFIX__2_label"
                  ></span>
                  <span
                    class="figrow-v"
                    data-unique-field="__FIG_PREFIX__2_value"
                  ></span>
                  <span class="figbar"
                    ><span
                      class="figbar-fill"
                      data-unique-attr-style="width:{__FIG_PREFIX__2_pct}%"
                    ></span
                  ></span>
                </div>
                <div
                  class="figrow"
                  data-unique-attr-data-status="__FIG_PREFIX__3_status"
                >
                  <span
                    class="figrow-l"
                    data-unique-field="__FIG_PREFIX__3_label"
                  ></span>
                  <span
                    class="figrow-v"
                    data-unique-field="__FIG_PREFIX__3_value"
                  ></span>
                  <span class="figbar"
                    ><span
                      class="figbar-fill"
                      data-unique-attr-style="width:{__FIG_PREFIX__3_pct}%"
                    ></span
                  ></span>
                </div>
              </div>
            </div>
          </details>
