UNIQUE_API_BASE_URL=    # The backend URL of Unique's public API
UNIQUE_API_VERSION=     # The version of Unique's public API

UNIQUE_APP_ID=          # The app ID from the App section of Unique
UNIQUE_APP_KEY=         # The app key from the App section of Unique

UNIQUE_APP_ENDPOINT=            # Where this app is reachable from the platform
UNIQUE_APP_ENDPOINT_SECRET=     # The app endpoint secret provided by the platform
