# SWOT Analysis Report

{% if strengths.result %}
## Strengths

{{ strengths.result }}

---

{% endif %}
{% if weaknesses.result %}
## Weaknesses

{{ weaknesses.result }}

---

{% endif %}
{% if opportunities.result %}
## Opportunities

{{ opportunities.result }}

---

{% endif %}
{% if threats.result %}
## Threats

{{ threats.result }}

---

{% endif %}