{% if strengths |length > 0 %}
# Strengths

{% for item in strengths %}
## {{ item.title }}

{% for bullet in item.bullet_points %}
- **{{ bullet.key_reasoning }}** {{ bullet.detailed_context }}
{% endfor %}

{% endfor %}
---

{% endif %}
{% if weaknesses |length > 0 %}
# Weaknesses

{% for item in weaknesses %}
## {{ item.title }}

{% for bullet in item.bullet_points %}
- **{{ bullet.key_reasoning }}** {{ bullet.detailed_context }}
{% endfor %}

{% endfor %}
---

{% endif %}
{% if opportunities |length > 0 %}
# Opportunities

{% for item in opportunities %}
## {{ item.title }}

{% for bullet in item.bullet_points %}
- **{{ bullet.key_reasoning }}** {{ bullet.detailed_context }}
{% endfor %}

{% endfor %}
---

{% endif %}
{% if threats |length > 0 %}
# Threats

{% for item in threats %}
## {{ item.title }}

{% for bullet in item.bullet_points %}
- **{{ bullet.key_reasoning }}** {{ bullet.detailed_context }}
{% endfor %}

{% endfor %}
---

{% endif %}