name: "[pytest] Unique ToolKit"

env:
  PACKAGE: unique_toolkit

on: 
  pull_request:
    # paths:
    #   - 'unique_toolkit/**'
    #   - '!unique_toolkit/docs/**'
    #   - '!unique_toolkit/mkdocs.yaml'
    #   - '!unique_toolkit/docs.subproject.mkdocs.yaml'


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Setup Python and Poetry
      uses: ./.github/actions/setup-python-poetry

    - name: Install dependencies
      working-directory: ${{ env.PACKAGE }}
      run: poetry install

    - name: Run tests
      working-directory: ${{ env.PACKAGE }}
      run: poetry run pytest