name: "[chore] Ruff Linting"

on:
  pull_request:
    paths:
      - "unique_toolkit/**"
      - "unique_sdk/**"
      - "postprocessors/unique_follow_up_questions/**"
      - "postprocessors/unique_stock_ticker/**"
      - "tool_packages/unique_internal_search/**"
      - "tool_packages/unique_web_search/**"
      - ".github/workflows/chore_linting_ruff.yaml"

jobs:
  ruff-lint-and-format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [unique_toolkit, unique_sdk, unique_follow_up_questions, unique_stock_ticker, tool_packages/unique_internal_search, tool_packages/unique_web_search]
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: |
          POETRY_VERSION='1.8.3'
          PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install poetry==$POETRY_VERSION

      - name: Install dependencies
        working-directory: ${{ matrix.package }}
        run: poetry install

      - name: Run Ruff format check
        working-directory: ${{ matrix.package }}
        run: poetry run ruff format --check .

      - name: Run Ruff lint check
        working-directory: ${{ matrix.package }}
        run: poetry run ruff check .
