name: "[pytest] Unique MCP"

env:
  PACKAGE: unique_mcp

on: 
  pull_request:
    paths:
      - 'unique_mcp/**'
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run tests
        uses: ./.github/actions/run-tests
        with:
          package_dir: ${{ env.PACKAGE }}
          package_manager: 'auto'
          python_version: '3.12'

